	<div class="well span4 offset1">

<h1>Contact us</h1>
<%= form_for(@contact, url: contact_path) do |f|%>

	<section><%= f.text_field(:name, placeholder: 'name') %></section>
	<section><%= f.text_field(:email, placeholder: 'email') %></section>
	<section><%= f.text_area(:concern, placeholder: 'concern here') %></section>
	<section><%= 	f.submit("submit", class: 'btn btn-success') %></section>

	</div>
<% end %>