<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Facebase" %></title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= root_path %>">Facebase</a>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><%= link_to "My Account", edit_user_registration_path %></li>
              <% if user_signed_in? %>
              <li> <%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              <% else %>
              <li><%= link_to "Login", new_user_session_path  %></li>
              <li><%= link_to "Signup",new_user_registration_path %></li>
              <% end %>
              <form class="navbar-form navbar-left" role="search">

                <li><%= link_to "Contact",contact_path %></li>
               <li><%= link_to "Newsletter", newsletter_path %></li>
             </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="main" class="container">
      <div class="row">
         
            <%= bootstrap_flash %>
            <%= yield %>
       
        </div>
      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
